<div class="container-fluid">
    <div class="container heading">
        <div>
            <h1>Gutenberg Project</h1>
            <p>A social cataloging website that allows you to freely search its database of books, annotations, and reviews.</p>
        </div>
    </div>
    <div class="container">
        <div class="flex-container">
            <div class="flex-container-box">
                <div class="genre-card flex-container" [routerLink]="['/genre', 'Fiction']">
                    <div class="icon-genre">
                        <img src="../../assets/img/Fiction.svg" alt="Fiction" class="img-icon">
                    </div>
                    <div class="title-genre">
                        FICTION
                    </div>
                    <div class="btn-genre">
                        <img src="../../assets/img/Next.svg" alt="next">
                    </div>
                </div>
            </div>
            <div class="flex-container-box" [routerLink]="['/genre', 'Philosophy']">
                <div class="genre-card flex-container">
                    <div class="icon-genre">
                        <img src="../../assets/img/Philosophy.svg" alt="Philosophy" class="img-icon">
                    </div>
                    <div class="title-genre">
                        PHILOSOPHY
                    </div>
                    <div class="btn-genre">
                        <img src="../../assets/img/Next.svg" alt="next">
                    </div>
                </div>
            </div>
            <div class="flex-container-box" [routerLink]="['/genre', 'Drama']">
                <div class="genre-card flex-container">
                    <div class="icon-genre">
                        <img src="../../assets/img/Drama.svg" alt="Drama" class="img-icon">
                    </div>
                    <div class="title-genre">
                        DRAMA
                    </div>
                    <div class="btn-genre">
                        <img src="../../assets/img/Next.svg" alt="next">
                    </div>
                </div>
            </div>
            <div class="flex-container-box" [routerLink]="['/genre', 'History']">
                <div class="genre-card flex-container">
                    <div class="icon-genre">
                        <img src="../../assets/img/History.svg" alt="History" class="img-icon">
                    </div>
                    <div class="title-genre">
                        HISTORY
                    </div>
                    <div class="btn-genre">
                        <img src="../../assets/img/Next.svg" alt="next">
                    </div>
                </div>
            </div>
            <div class="flex-container-box" [routerLink]="['/genre', 'Humour']">
                <div class="genre-card flex-container">
                    <div class="icon-genre">
                        <img src="../../assets/img/Humour.svg" alt="Humour" class="img-icon">
                    </div>
                    <div class="title-genre">
                        HUMOUR
                    </div>
                    <div class="btn-genre">
                        <img src="../../assets/img/Next.svg" alt="next">
                    </div>
                </div>
            </div>
            <div class="flex-container-box" [routerLink]="['/genre', 'Adventure']">
                <div class="genre-card flex-container">
                    <div class="icon-genre">
                        <img src="../../assets/img/Adventure.svg" alt="Adventure" class="img-icon">
                    </div>
                    <div class="title-genre">
                        ADVENTURE
                    </div>
                    <div class="btn-genre">
                        <img src="../../assets/img/Next.svg" alt="next">
                    </div>
                </div>
            </div>
            <div class="flex-container-box" [routerLink]="['/genre', 'Politics']">
                <div class="genre-card flex-container">
                    <div class="icon-genre">
                        <img src="../../assets/img/Politics.svg" alt="Politics" class="img-icon">
                    </div>
                    <div class="title-genre">
                        POLITICS
                    </div>
                    <div class="btn-genre">
                        <img src="../../assets/img/Next.svg" alt="next">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>